# Exercício 1:

In [3]:
v = float(input("Digite o valor da tensão"))
i = float(input("Digite o valor da intensidade"))
p = v * i

print("A potência do projetor, em W, é:", p)

A potência do projetor, em W, é: 22.25

In [4]:
# Jeito do prof:

def potencia(tensao, corrente):
    p = tensao * corrente
    return p

v = 127
i = 1

resultado = potencia(v, i)

print(f"O valor da potência é {resultado}W")

O valor da potência é 127W

# For dentro de for:

In [5]:
ordem = ["primeiro", "segundo", "terceiro"]
titulo = ["rainha", "rei", "princesa", "príncipe"]

for x in ordem:
    for y in titulo:
        print(x,y)

# Para cada elemento da primeira lista, vai percorrer a segunda lista inteira (mostra todas as combinações possíveis)

primeiro rainha
primeiro rei
primeiro princesa
primeiro príncipe
segundo rainha
segundo rei
segundo princesa
segundo príncipe
terceiro rainha
terceiro rei
terceiro princesa
terceiro príncipe

# DataFrame

In [ ]:
pip install pandas

In [ ]:
import pandas as pd

In [12]:
dados = {
    'Tipo de Carro': ['Sedan', 'SUV', 'Hatchback', 'Caminhonete', 'Coupé'],
    'Tipo de Direção': ['Hidráulica', 'Elétrica', 'Mecânica', 'Elétrica', 'Hidráulica'],
    'Tipo de Pneus': ['Radial', 'Diagonal', 'Radial', 'Diagonal', 'Radial'],
    'Faixa de Preço': ['Alto', 'Médio', 'Baixo', 'Alto', 'Médio'],
    'Potência - CV': [120, 130, 100, 180, 200],
    'Velocidade de Cruzeiro': [True, False, True, True, False]
}

df_carros = pd.DataFrame(dados)
df_carros

,Tipo de Carro,Tipo de Direção,Tipo de Pneus,Faixa de Preço,Potência - CV,Velocidade de Cruzeiro
0,Sedan,Hidráulica,Radial,Alto,120,True
1,SUV,Elétrica,Diagonal,Médio,130,False
2,Hatchback,Mecânica,Radial,Baixo,100,True
3,Caminhonete,Elétrica,Diagonal,Alto,180,True
4,Coupé,Hidráulica,Radial,Médio,200,False

In [13]:
df_carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tipo de Carro           5 non-null      object
 1   Tipo de Direção         5 non-null      object
 2   Tipo de Pneus           5 non-null      object
 3   Faixa de Preço          5 non-null      object
 4   Potência - CV           5 non-null      int64
 5   Velocidade de Cruzeiro  5 non-null      bool
dtypes: bool(1), int64(1), object(4)
memory usage: 337.0+ bytes

In [14]:
df_carros.head(2)

,Tipo de Carro,Tipo de Direção,Tipo de Pneus,Faixa de Preço,Potência - CV,Velocidade de Cruzeiro
0,Sedan,Hidráulica,Radial,Alto,120,True
1,SUV,Elétrica,Diagonal,Médio,130,False

In [16]:
a = df_carros['Faixa de Preço']
a

0     Alto
1    Médio
2    Baixo
3     Alto
4    Médio
Name: Faixa de Preço, dtype: object

In [21]:
print('O valor mínimo é:', df_carros['Potência - CV'].min())
print('O valor máximo é:', df_carros['Potência - CV'].max())
print('A média é:', df_carros['Potência - CV'].mean())
print('A mediana é:', df_carros['Potência - CV'].median())

O valor mínimo é: 100
O valor máximo é: 200
A média é: 146.0
A mediana é: 130.0

## Filtro por valor:

In [26]:
def filtro(df_carros, coluna, valor):
    return df_carros[df_carros[coluna] == valor]

filtro(df_carros, 'Tipo de Carro', 'Sedan')

# pq o ==??

,Tipo de Carro,Tipo de Direção,Tipo de Pneus,Faixa de Preço,Potência - CV,Velocidade de Cruzeiro
0,Sedan,Hidráulica,Radial,Alto,120,True

## For em DataFrame

In [29]:
carros_desejados = ['Sedan', 'Caminhonete']

for carro in carros_desejados:
    dados = df_carros.loc[df_carros['Tipo de Carro'] == carro]
    print(f'Dados para {carro}: \n {dados} \n')

# loc = seleciona uma coluna específica

Dados para Sedan:
   Tipo de Carro Tipo de Direção Tipo de Pneus Faixa de Preço  Potência - CV  \
0         Sedan      Hidráulica        Radial           Alto            120

   Velocidade de Cruzeiro
0                    True

Dados para Caminhonete:
   Tipo de Carro Tipo de Direção Tipo de Pneus Faixa de Preço  Potência - CV  \
3   Caminhonete        Elétrica      Diagonal           Alto            180

   Velocidade de Cruzeiro
3                    True