# Lista de Exercícios para o Checkpoint 1:

## Installs

In [ ]:
pip install numpy

In [8]:
import numpy as np

In [ ]:
pip install pandas

In [12]:
import pandas as pd

## Exercício 1:

In [46]:
lista = [1,2,3,4,5]
tupla = tuple(lista)

def calculo(tupla):
    array = np.array(tupla)
    media = array.mean()
    return media

calculo(tupla)

3.0

## Exercício 2:

In [51]:
listaPaises = ['Brasil', 'Canadá', 'Espanha', 'Venezuela', 'Austrália', 'Egito']
populacao2021 = [214.3 * 10**6, 38.25 * 10**6, 47.42 * 10**6, 28.2 * 10**6, 28.2 * 10**6, 109.3 * 10**6]
populacao2015 = [205.2 * 10**6, 35.7 * 10**6, 46.44 * 10**6, 30.53 * 10**6, 23.82 * 10**6, 97.72 * 10**6]

paises = pd.Series(listaPaises)
populacao = {'População Total 2015': populacao2015,
             'População Total 2021': populacao2021}

df = pd.DataFrame(populacao)
df.index = paises

# Adicionar uma coluna com a média?? ~> perguntar amanhã
df['População Média'] = df['População Total 2015'] + df['População Total 2021'] / 2
df

           População Total 2015  População Total 2021  População Média
Brasil              205200000.0           214300000.0      312350000.0
Canadá               35700000.0            38250000.0       54825000.0
Espanha              46440000.0            47420000.0       70150000.0
Venezuela            30530000.0            28200000.0       44630000.0
Austrália            23820000.0            28200000.0       37920000.0
Egito                97720000.0           109300000.0      152370000.0

## Exercício 3:

In [47]:
numeros = [1,2,3,4,5,6,7,8,9,10]
array = np.array(numeros)

def min_max_media(array):
    minimo = np.min(array)
    maximo = np.max(array)
    media = np.mean(array)
    return minimo, maximo, media

minimo, maximo, media = min_max_media(array)
print("Mínimo:", minimo)
print("Máximo:", maximo)
print("Média:", media)

Mínimo: 1
Máximo: 10
Média: 5.5

## Exercício 4:

In [52]:
numeros1 = [1,2,3,4,5]
numeros2 = [6,7,8,9,10]

def concatenar(lista1, lista2):
    s1 = pd.Series(lista1)
    s2 = pd.Series(lista2)
    return pd.concat([s1, s2])

def media(concatenado):
    return concatenado.mean()

media(concatenar(numeros1, numeros2))

5.5

## Exercício 5:

In [53]:
numeros = [10, 20, 30, 40, 50, 60]
s = pd.Series(numeros)
arr= pd.array(s)

def operacao(arr):
    return arr * 2

resultado = pd.Series(operacao(arr))
print(resultado)

0     20
1     40
2     60
3     80
4    100
5    120
dtype: int64