Crie um programa para ajudar a gerenciar as consultas em um hospital. O programa deve permitir que os funcionários do hospital cadastrem novos pacientes, agendem consultas, cancelem consultas e visualizem a lista de consultas para um determinado dia.

O programa deve incluir funções como:

- Cadastro de pacientes com informações básicas (nome, idade, número de telefone).
- Agendamento de consultas com data e hora.
- Verificação de disponibilidade para agendar uma nova consulta.
- Cancelamento de consultas.
- Visualização da lista de consultas para um dia específico.

Além disso, você deve criar um algoritmo com funções, em especial, função def.
Utilize estruturas inputs para usuários, estrutura de repetição e condição.

Entregue o arquivo em python e mostre o que faz cada parte do código desenvolvido.

In [ ]:
pip install pandas

In [10]:
import pandas as pd

In [17]:
# Cadastro de novo paciente:
nomes = ['Robson', 'Josefa']
idades = [12, 20]
numeros = ['1234-5678', '8765-4321']

def cadastro(nomes, idades, numeros):
    nome = str(input("Insira o nome do paciente: "))
    idade = int(input("Insira a idade do paciente: "))
    numero = input("Insira o número de telefone do paciente: ")
    nomes.append(nome)
    idades.append(idade)
    numeros.append(numero)
    return nomes, idades, numeros

cadastro(nomes, idades, numeros)

(['Robson', 'Josefa', 'Carolina'],
 [12, 20, 18],
 ['1234-5678', '8765-4321', '1234-1235'])

In [20]:
# Agendamento de consultas
datas = ['12/10', '04/07']
horarios = ['12:00', '08:30']

def consulta():
    data = input("Insira o dia e o mês no formato dd/mm")
    horario = input("Insira o horário no formato hh:mm")
    if  len(data) != 5 or len(horario) != 5:
        print("Por favor, digite a data no formato dd/mm e a hora no hh:mm.")
        return consulta()
    elif data not in datas:
        datas.append(data)
        horarios.append(horario)
        return datas, horarios
    elif data in datas and horario in horarios:
        datas.append(data)
        horarios.append(horario)
        return datas, horarios
    else:
        print("O exame não pode ser marcado nesse dia e horário. Por favor, tente novamente")
        return consulta()

consulta()

O exame não pode ser marcado nesse dia e horário. Por favor, tente novamente

(['12/10', '04/07', '12/00'], ['12:00', '08:30', '12:00'])

In [21]:
pacientes = {'Nome': nomes,
             'Idade': idades,
             'Telefone': numeros,
             'Data': datas,
             'Horários': horarios}

df = pd.DataFrame(pacientes)

df

       Nome  Idade   Telefone   Data Horários
0    Robson     12  1234-5678  12/10    12:00
1    Josefa     20  8765-4321  04/07    08:30
2  Carolina     18  1234-1235  12/00    12:00

In [15]:
df.iloc[2]

Nome         Carolina
Idade              18
Telefone    1234-1235
Data            12/10
Horários        04:00
Name: 2, dtype: object

In [ ]:
# Cancelamento de consultas:

In [ ]:
# Visualização da lista de consultas para um dia específicos: