# Funcões em Data Frame:

In [ ]:
pip install pandas

In [2]:
import pandas as pd

In [3]:
data = {'Coluna 1': [10, 10, 30, 40, 50],
        'Coluna 2': [5, 10, 15, 10, 15],
        'Coluna 3': ['a', 'b', 'c', 'd', 'e'],
        'Coluna 4': ['x', 'y', 'z', 'w', 'v']}

df = pd.DataFrame(data)
df

   Coluna 1  Coluna 2 Coluna 3 Coluna 4
0        10         5        a        x
1        10        10        b        y
2        30        15        c        z
3        40        10        d        w
4        50        15        e        v

In [4]:
# Seleciona uma linha inteira, mostrando os valores de cada coluna

df.iloc[3]

Coluna 1    40
Coluna 2    10
Coluna 3     d
Coluna 4     w
Name: 3, dtype: object

In [5]:
df['Soma'] = df['Coluna 1'] + df['Coluna 2']
df

   Coluna 1  Coluna 2 Coluna 3 Coluna 4  Soma
0        10         5        a        x    15
1        10        10        b        y    20
2        30        15        c        z    45
3        40        10        d        w    50
4        50        15        e        v    65

# Exercício 1:
Soma das colunas com função

In [10]:
def soma_coluna(df):
    df['Soma-F'] = df['Coluna 1'] + df['Coluna 2']
    return df

soma_coluna(df)

   Coluna 1  Coluna 2 Coluna 3 Coluna 4  Soma  Soma-F
0        10         5        a        x    15      15
1        10        10        b        y    20      20
2        30        15        c        z    45      45
3        40        10        d        w    50      50
4        50        15        e        v    65      65

# Exercício 2:

In [22]:
# Tentativa 1:

def ex(df):
    if df['Coluna 3'] == 'a' or df['Coluna 3'] == 'c':
        df['Operações'] = df['Coluna 1'] + df['Coluna 2']
        return df
    
    if df['Coluna 3'] == 'b' or df['Coluna 3'] == 'd':
        df['Operações'] = df['Coluna 1'] - df['Coluna 2']
        return df
    
    if df['Coluna 3'] == 'e':
        df['Operações'] = df['Coluna 1'] * df['Coluna 2']
        return df
    
ex(df)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [23]:
# Tentativa 2:

def ex2(a, b, c):
    if c == 'a' or c =='c':
        df['Operações'] = a + b
        return df['Operações']
    if c == 'b' or c == 'd':
        df['Operações'] = a - b
        return df['Operações']
    if c == 'e':
        df['Operações'] = a * b
        return df['Operações']
    
ex2(df['Coluna 1'], df['Coluna 2'], df['Coluna 3'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
# Jeito do prof:

def operacoes(df):
    if df['Coluna 3'] == 'a' or df['Coluna 3'] == 'c':
        df['Soma If'] = df['Coluna 1'] + df['Coluna 2']
        return df
    
    elif df['Coluna 3'] == 'b' or df['Coluna 3'] == 'd':
        df['Subtração If'] = df['Coluna 1'] - df['Coluna 2']
        return df
    
    elif df['Coluna 3'] == 'e':
        df['Multiplicação If'] = df['Coluna 1'] * df['Coluna 2']
        return df