# Depuração Checkpoint 2:
(Com o código do prof)

## Exercício 1:

In [ ]:
itens = ['Milho', 'Feijão', 'Leite', 'Açúcar', 'Arroz', 'Azeitona', 'Café em Grãos']
estoque = [20, 50, 20, 30, 50, 30, 90]
precos = [5, 5, 2, 6, 10, 3, 3]

for i in range(len(itens)):
    total = estoque[i] * precos[i]
    if total > 120:
        print(f'Produto: {itens[i]}, Estoque: {estoque[i]}, Preço: R${precos[i]:.2f}, Total: R${total:.2f}')

## Exercício 2:

In [ ]:
nomes_corretos = ["João Silva", "Maria Oliveira", "Pedro Santos", "Ana Souza", "Carlos Pereira"]
senhas_corretas = ["senha123", "abc456", "qwerty", "admin123", "letmein"]
cpfs_corretos = ["123.456.789-00", "987.654.321-00", "456.789.123-00", "321.654.987-00", "789.123.456-00"]

nome = input("Digite seu nome: ")
senha = input("Digite sua senha: ")
cpf = input("Digite seu cpf: ")

if nome in nomes_corretos and senha in senhas_corretas and cpf in cpfs_corretos:
    print("Acesso permitido")
else:
    print("Acesso negado")

combine = zip(nomes_corretos, senhas_corretas, cpfs_corretos)

for nomes_corretos, senhas_corretas, cpfs_corretos in combine:
    if senha == senhas_corretas and nome == nomes_corretos and cpf == cpfs_corretos:
        print(f'Combinação correta para: \nNome: {nome}, Senha: {senha}, CPF: {cpf}')

# Exemplos:

In [ ]:
pip install pandas

In [1]:
import pandas as pd

In [2]:
data = {'Nome': ['Alice', "Bob", "Charlie"],
        'Idade': [25, 30, 22]}

df = pd.DataFrame(data)

i = 0

while i < len(df):
    # iloc = seleciona a linha de acordo com o i
    print(df.iloc[i])
    i += 1

Nome     Alice
Idade       25
Name: 0, dtype: object
Nome     Bob
Idade     30
Name: 1, dtype: object
Nome     Charlie
Idade         22
Name: 2, dtype: object

In [3]:
tipo_moradia = []
indice = 0

while indice < len(df):
    idade = df['Idade'][indice]
    if idade > 22:
        tipo_moradia.append('Casa')
    else:
        tipo_moradia.append('Apartamento')
    indice += 1

df['Tipo Moradia'] = tipo_moradia
df

      Nome  Idade Tipo Moradia
0    Alice     25         Casa
1      Bob     30         Casa
2  Charlie     22  Apartamento

In [5]:
data = {
    'Nome': ['Alice', 'Bob', 'Charlie', 'Lucca', 'Ana', 'Fernanda'],
    'Idade': [25, 30, 22, 22, 38, 35],
    'País': ['Brasil', 'Inglaterra', 'Estados Unidos', 'Itália', 'Austrália', 'México']
}

df = pd.DataFrame(data)

COVID = []
indice = 0

while indice < len(df):
    doença = df['País'][indice]
    if doença == 'Brasil' or doença == 'Itália':
        COVID.append('Tem COVID')
    else:
        COVID.append('Não tem COVID')
    indice += 1

df['COVID'] = COVID
df

       Nome  Idade            País          COVID
0     Alice     25          Brasil      Tem COVID
1       Bob     30      Inglaterra  Não tem COVID
2   Charlie     22  Estados Unidos  Não tem COVID
3     Lucca     22          Itália      Tem COVID
4       Ana     38       Austrália  Não tem COVID
5  Fernanda     35          México  Não tem COVID

In [13]:
Vacina = []
Prioridade = []

indice = 0

while indice < len(df):
    vacina = df['COVID'][indice]
    if vacina == 'Não tem COVID':
        Vacina.append('Precisa tomar vacina')
        prioridade = df['Idade'][indice]
        if prioridade >= 35:
            Prioridade.append('Alta prioridade')
        else:
            Prioridade.append('Baixa prioridade')
    else:
        Vacina.append('Não pode tomar vacina')
        Prioridade.append('Não pode tomar vacina')
    indice += 1

df['Vacina'] = Vacina
df['Prioridade'] = Prioridade
df

,Nome,Idade,País,COVID,Vacina,Prioridade
0,Alice,25,Brasil,Tem COVID,Não pode tomar vacina,Não pode tomar vacina
1,Bob,30,Inglaterra,Não tem COVID,Precisa tomar vacina,Baixa prioridade
2,Charlie,22,Estados Unidos,Não tem COVID,Precisa tomar vacina,Baixa prioridade
3,Lucca,22,Itália,Tem COVID,Não pode tomar vacina,Não pode tomar vacina
4,Ana,38,Austrália,Não tem COVID,Precisa tomar vacina,Alta prioridade
5,Fernanda,35,México,Não tem COVID,Precisa tomar vacina,Alta prioridade

In [14]:
df.to_csv('Aula 8.csv')